@import "./colors";
@font-face {
  font-family: "iranSans";
  src: url("./assets/font/FontsFree-Net-ir_sans.ttf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "iranSans";
}
body {
  background-color: $primary-bg;
}
// HEADER STYLES
header {
  max-width: 1100px;
  margin: 0 auto;
  // NAV STYLES
  nav {
    height: 100px;
    width: 100%;
    margin-block: 1.5rem;

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .nav__links {
        display: flex;
        align-items: center;
        gap: 2rem;
        list-style: none;

        .nav__link {
          cursor: pointer;
          color: $primary-color;
          font-size: 0.9rem;
          display: flex;
          align-items: center;
          gap: 0.3rem;

          &:hover {
            color: $secondry-color;
          }
        }
      }
      // SEARCHBOX STYLES
      .searchbox {
        position: relative;
        width: 250px;

        input {
          width: 100%;
          padding: 0.7rem;
          outline: none;
          background-color: $searchbox-bg;
          border: none;
          border-radius: 5px;
          color: $secondry-color;
          font-size: 0.9rem;

          &::placeholder {
            color: $searchbox-color;
          }
        }
        .search-icon {
          position: absolute;
          cursor: pointer;
          color: $primary-color;
          top: 50%;
          left: 10%;
          transform: translate(-50%, -50%);
        }
      }
      // MOBILE MENU STYLES
      .overlay {
        display: none;
        background: rgba(0, 0, 0, 75%);
        width: 30%;
        opacity: 70%;
        filter: blur(10px);
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 90;
      }
      .menu-btn {
        background-color: transparent;
        display: none;
        align-items: center;
        justify-content: center;
        border: none;
        width: 30px;
        height: 30px;
        cursor: pointer;

        .menu-icon {
          color: $secondry-color;
          width: 100%;
          height: 100%;
        }
      }
      .mobile-menu {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        transform: translateX(2000px);
        background-color: $secondry-bg;
        z-index: 100;
        width: 70%;

        .mobile-links {
          display: flex;
          list-style: none;
          flex-direction: column;
          margin-inline: 1rem;
          gap: 1.5rem;
          margin-top: 3rem;

          .mobile-link {
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            color: $primary-color;
            font-size: 0.9rem;

            &:hover {
              color: $secondry-color;
            }
          }
        }
      }
    }
  }
}

.toggle {
  transform: translateX(0) !important;
  transition: transform 0.3s ease;
}
.active {
  display: block !important;
  transition: display 0.3s ease;
}

@media screen and (max-width: "1100px") {
  header nav .container {
    justify-content: space-around;
  }
}
@media screen and (max-width: "700px") {
  nav {
    margin-block: 1rem !important;
  }
  .nav__links {
    display: none !important;
  }
  header nav .container {
    justify-content: space-between;
    margin-inline: 1rem;
  }
  .menu-btn {
    display: flex !important;
  }
}
